* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../assets/background.jpg");
  background-repeat: no-repeat;
  background-size: auto;
}

@import url("https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css?family=Bellota&display=swap");
@import "./partials/breakpoint";
@import "./partials/worldStats";
@import "./partials/header";
@import "./partials/country";
@import "./partials/footer";
